{{#with this}}
<h2 class="name">{{name}}</h2>


<ul class="oneCountry">
    <li>Capital: {{capital}}</li>
    <li>Population: {{population}} </li>
    <li>Languages:

        <ul class="info_language">
            {{#each languages}}
            <li class="info" >{{this.name}}</li>
            {{/each}}
        </ul>
    </li>

</ul>

<div class="flag">
<img src={{flag}} alt="flag" width="260" >
</div>


{{/with}}